* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;
    background-color: #020720;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    padding: 1rem;
  }

  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: rgb(34, 63, 102);
    background: linear-gradient(90deg, rgba(34, 63, 102, 1) 9%, rgba(23, 224, 154, 1) 45%);
    border-radius: 1rem;
    padding: 3rem 1rem;
    overflow: auto;
    text-align: center;
  }

  .message h1 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .message p {
    color: #ffffff;
    font-size: 1rem;
    padding: 0 2rem 2rem;
    font-weight: 400;
  }

  @media (max-width: 768px) {
    .message {
      width: 75%;
      padding: 2rem 1rem;
    }

    .message h1 {
      font-size: 1.2rem;
    }

    .message p {
      font-size: 0.9rem;
      padding: 0 1.5rem 1.5rem;
    }
  }

  @media (max-width: 480px) {
    .message {
      width: 90%;
      padding: 1.5rem 0.5rem;
    }

    .message h1 {
      font-size: 1rem;
    }

    .message p {
      font-size: 0.8rem;
      padding: 0 1rem 1rem;
    }
  }
